<div class="input-group">
    <span class="input-group-btn">
        <button [ngClass]="btnClass" type="button" (click)="aumentarValor(-5)">

            <i class="mdi mdi-battery-minus">

            </i>
        </button>
    </span>
    <input type="number" class="form-control" 
                        [(ngModel)]="progreso" 
                        placeholder="Product name"
                        [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
                        (ngModelChange)="onChange($event)"
                        >
    <span class="input-group-btn">
        <button [ngClass]="btnClass"
                 type="button" 
                 
                 
                (click)="aumentarValor(5)">
            <i class="mdi mdi-battery-plus">

            </i>
        </button>
    </span>
</div>